*{
    margin: 0px auto;
    padding: 0px auto;
}
 body{
    background-color: black;
 }
#contaniner{
    display: flex;
    background-color: bisque;
    background-position: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 400px;
}
.card{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}
.card{
    width: 100%;
    height: auto;
}
button{
    background-color: red;
    color: black;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px; 
}
:hover{
    color: beige;
}